<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <MaxCpuCount>1</MaxCpuCount>
    <ResultsDirectory>.\TestReports</ResultsDirectory>
    <TargetFrameworkVersion>net8.0</TargetFrameworkVersion>
  </RunConfiguration>

  <!-- NUnit configuration -->
  <NUnit>
    <NumberOfTestWorkers>1</NumberOfTestWorkers>
    <DefaultTimeout>60000</DefaultTimeout>
  </NUnit>

  <!-- Test Run Parameters -->
  <TestRunParameters>
    <Parameter name="TEST_ENVIRONMENT" value="dev" />
  </TestRunParameters>

  <!-- Filter examples (uncomment to use) -->
  <!--
  <TestRunParameters>
    <Parameter name="TestCategory" value="Smoke" />
  </TestRunParameters>
  -->
</RunSettings>
